<style>
        body {
            font-family: 'Baloo Bhai 2', cursive;
            padding: 0px;
            margin: 0px;
            background: url(/b.jpg);
            background-size: 100%;
            color: aliceblue;

        }

        .left {
            display: inline-block;
            position: absolute;
            top: 2px;
            left: 2px;
        }

        .left img {

            width: 140px;
            border-radius: 300px;
            padding: 20%;
        }

        .mid {

            display: inline-block;
            margin: 12px auto;
            position: absolute;
            left: 28%;
        }

        .right {

            display: inline;
            position: absolute;
            right: 2px;
            top: 2px;
        }

        .navbar {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .navbar li {
            display: inline-block;
        }

        .navbar li a {
            color: white;
            text-decoration: none;
            padding: 30px 30px 0px 0px;
            margin: 0%;
            font-size: 23px;

        }

        .navbar li a:hover {
            text-decoration: underline;
        }

        .btn {
            background-color: black;
            color: white;
            padding: 5px 22px 5px 11px;
            margin: 7px;
            border-radius: 20px;
            font-size: 18px;
            cursor: pointer;
            font-family: 'Baloo Bhai 2', cursive;
        }

        .btn:hover {
            background-color: rgb(73, 65, 65);
        }

        .input {
            display: inline-block;
            height: 0%;
            width: 18%;
            margin: 0%;
            font-size: 20px;
            margin-top: 10%;
            margin-left: 7%;
        }

        .input input {
            font-size: 20px;
            margin-top: 3%;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 0%;
        }

        .input button {
            margin-top: 12%;
            margin-left: 0%;
            width: 95%;
            font-size: 140%;

        }

        .input h2 {
            text-align: center;
            font-size: 280%;
        }

        }
    </style>